RRB_PROJECT_SIGNATURE='13360515828940800000'
RRB_NETWORK_HOST='0.0.0.0'
RRB_NETWORK_PORT=43594
RRB_CACHE_PORT=43595
RRB_PROTOCOL=317
RRB_DEBUG=1
RRB_LIVE=0
RRB_LOGIN_LIMIT=4
## GAME VARS
RRB_MAX_MOBS=256
RRB_MAX_CTX=64
## DATABASE VARS
RRB_STORAGE_TYPE='postgresql'
RRB_PG_DB='rune.rb'
RRB_PG_HOST='localhost'
RRB_PG_PORT=5432
RRB_PG_USER='rune.rb'
RRB_PG_PASS='XNzla1nFaI3nz0vU297Tm3s7EA8gmbREfo70FiTpTLPN5ztKs894hRVA0z68S67D'